@import url('./general_style/variables.css');

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.dashboard .cards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.dashboard .cards .card {
  box-shadow: 0 0 1rem var(--color-invisible-shadow);
  display: flex;
  align-items: center;
  flex: 1;
  height: 150px;
  border-radius: 25px;
  padding: 1rem;
  cursor: pointer;
  border: 3px solid transparent;
}

.dashboard .cards .card:hover {
  border: 3px solid var(--color-primary);
}

.dashboard .cards .card h2 {
  font-family: var(--Poppins-Bold);
  font-size: 1rem;
  color: var(--color-white-shadow);
}

.dashboard .cards .card h1 {
  font-family: var(--Poppins-Bold);
  font-size: 2.5rem;
  color: var(--color-black);
}

.dashboard .middle {
  display: flex;
  gap: 1rem;
}

.dashboard .middle h1 {
  font-size: 1.8rem;
}

.dashboard .middle a {
  color: var(--color-primary);
  font-family: var(--Poppins-Bold);
  font-size: 0.9rem;
}

.dashboard .middle .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.dashboard .middle .left .top-cards .header,
.dashboard .middle .left .bot-cards .header {
  padding: 0;
}

.dashboard .middle .left .top-cards .officers-cont {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.dashboard .middle .left .top-cards .officers-cont .officer-card {
  height: 70px;
  width: 50%;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow: 0 0 0.2rem var(--color-primary);
}

.dashboard .middle .left .top-cards .officers-cont .officer-card .img-cont {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-black);
}

.dashboard .middle .left .top-cards .officers-cont .officer-card h3 {
  color: var(--color-white);
  font-family: var(--Poppins-Bold);
  font-size: 1rem;
}

.dashboard .middle .left .top-cards .officers-cont .officer-card p {
  color: var(--color-coffee);
  font-family: var(--Poppins-Regular);
  font-size: 0.7rem;
}

.dashboard .middle .left .bot-cards .course-cont {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
}

.dashboard .middle .left .bot-cards .course-card {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 0.3rem;
  background: var(--color-primary);
  border: 3px solid transparent;
  border-radius: 10px;
  flex: 1;
  color: var(--color-coffee);
  padding: 1rem;
  box-shadow: 0 0 0.2rem var(--color-primary);
}

.dashboard .middle .left .bot-cards .course-card .left {
  padding: 0;
  align-items: center;
  justify-content: center;
}

.dashboard .middle .left .bot-cards .course-card button {
  max-width: max-content;
  padding: 0.3rem 1.8rem;
  border-radius: 15px;
  background: var(--color-white);
  color: var(--color-primary);
  border: 1px solid transparent;
  font-family: var(--Poppins-Regular);
  cursor: pointer;
}

.dashboard .middle .left .bot-cards .course-card button:hover {
  background: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.dashboard .middle .left .bot-cards .course-card:hover {
  border: 3px solid var(--color-black);
}

.dashboard .middle .left .bot-cards .course-card p {
  font-family: var(--Poppins-Bold);
  font-size: 1rem;
}

.dashboard .middle .left .bot-cards .course-card .right-course  {
  color: var(--color-white);
  font-size: 3rem;
  align-self: center;
}

.dashboard .middle .right {
  flex: 0.5;
  overflow: hidden;
  background: var(--color-light);
  box-shadow: 0 0 1rem var(--color-light);
  padding: 1rem;
  border-radius: 10px;
}

.middle .right .top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.middle .right .top .header h2 {
  font-family: var(--Poppins-Bold);
  font-size: 1.2rem;
}

.middle .right .top .instructors-cont {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 250px;
}

.middle .right .top .instructors-cont .instructor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  padding-right: 0.3rem;
}

.middle .right .top .instructors-cont .instructor .img-cont {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.middle .right .top .instructors-cont .instructor .info h3 {
  font-family: var(--Poppins-Bold);
  font-size: 1rem;
}

.middle .right .top .instructors-cont .instructor .info p {
  font-family: var(--Poppins-Regular);
  font-size: 0.7rem;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-invisible-shadow);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal.active {
  display: flex;
}

.modal .courses-cont {
  background: var(--color-primary);
  height: 400px;
  padding: 1rem;
  box-shadow: 0 0 0.2rem var(--color-primary);
  color: var(--color-bg-white);
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal .courses-cont .header,
.view-course .header,
.faculty-modal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .courses-cont .header h1,
.add-course-cont .header h1,
.faculty-modal .header h1 {
  font-family: var(--Poppins-Bold);
  font-size: 2rem;
}

.modal .courses-cont .header i {
  cursor: pointer;
  font-size: 1.5rem;
}

.modal .courses-cont .header .right,
.faculty-modal .header .right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.modal .courses-cont .header .right button,
.modal .faculty-modal .header .right button {
  padding: 0.5rem;
  background: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  font-family: var(--Poppins-Regular);
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: all 0.15s ease;
  border-radius: 5px;
}

.modal .courses-cont .header .right button:hover,
.modal .faculty-modal .header .right button:hover {
  background: var(--color-light);
  color: var(--color-primary);
}

.modal .courses-cont .header .right button i,
.modal .faculty-modal .header .right button i {
  font-size: 0.8rem;
}

.modal .courses-cont .header .right .search-cont,
.modal .faculty-modal .header .right .search-cont {
  background: var(--color-light);
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  padding-left: 0.8rem;
}

.modal .courses-cont .header .right .search-cont i,
.modal .faculty-modal .header .right .search-cont i {
  color: var(--color-white-shadow);
  font-size: 0.8rem;
}

.modal .courses-cont .header .right .search-cont input,
.modal .faculty-modal .header .right .search-cont input {
  padding: 0.5rem;
  outline: none;
  border: none;
  background: transparent;
}

.modal .courses-cont .header .right select,
.modal .faculty-modal .header .right select {
  padding: 0.5rem;
}

.modal .courses-cont .header i:hover,
.add-course-cont .header i:hover,
.view-course .header i:hover,
.faculty-modal .header i:hover {
  -webkit-text-stroke: 1px var(--color-white);
}

.modal .courses-cont .table-cont,
.modal .faculty-modal .table-cont {
  width: 100%;
  background: var(--color-primary);
  overflow-y: auto;
  max-height: 85%;
  padding-right: 0.3rem;
}

table {
  position: relative;
  background: transparent;
  width: 100%;
  background: var(--color-bg-white);
}

table th {
  background: var(--color-primary);
  font-size: 0.9rem;
  color: var(--color-light);
  height: 30px;
  font-family: var(--Poppins-Bold);
}

table th:first-child {
  position: relative;
}

table th input[type="checkbox"] {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

table tr {
  text-align: center;
}

table td {
  padding: 0.8rem;
  font-family: var(--Poppins-Regular);
  font-size: 0.8rem;
}

tr:nth-child(even) {
  background: var(--color-light-primary);
  color: var(--color-light);
}

tr:nth-child(odd) {
  background: transparent;
  color: var(--color-primary);
}


table td:first-child {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

table .img-cont {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-black);
}

table td .table-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

table td .table-actions i {
  cursor: pointer;
}

.modal .courses-cont .table-cont::-webkit-scrollbar-thumb,
.modal .faculty-modal .table-cont::-webkit-scrollbar-thumb {
  background: var(--color-white);
}

.modal .add-course-cont,
.modal .add-faculty-cont {
  background: var(--color-primary);
  padding: 1rem;
  box-shadow: 0 0 0.2rem var(--color-primary);
  color: var(--color-bg-white);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.modal .add-course-cont {
  height: 450px;
}

.add-course-cont .header,
.add-faculty-cont .header {
  align-self: flex-end;
}

.add-course-cont .header i,
.view-course .header i,
.faculty-modal .header i,
.add-faculty-cont .header i {
  cursor: pointer;
  font-size: 1.5rem;
}

.add-course-cont .inputs-cont,
.add-faculty-cont .inputs-cont {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.add-course-cont .inputs-cont .inputs,
.add-faculty-cont .inputs-cont .inputs {
  display: flex;
  flex-direction: column;
  font-family: var(--Poppins-Regular);
}

.add-course-cont label,
.add-faculty-cont label {
  font-size: 0.7rem;
  font-family: var(--Poppins-Bold);
}

.add-course-cont input,
.add-course-cont select,
.modal .add-faculty-cont input,
.modal .add-faculty-cont select {
  padding: 0.5rem;
}

.add-course-cont button,
.add-faculty-cont button {
  width: 100%;
  padding: 0.5rem;
  background: var(--color-white);
  border: 1px solid transparent;
  color: var(--color-primary);
  font-family: var(--Poppins-Regular);
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 5px;
}

.add-course-cont button:hover,
.add-faculty-cont button:hover {
  box-shadow: 0 0 0.2rem var(--color-white);
  background: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.modal .view-course {
  background: var(--color-primary);
  color: var(--color-white);
  height: 200px;
  padding: 1rem;
  box-shadow: 0 0 0.2rem var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.modal .view-course .header {
  gap: 2rem;
}

.view-course .header h1 {
  font-size: 1.5rem;
  font-family: var(--Poppins-Bold);
}

.view-course .info p {
  font-family: var(--Poppins-Bold);
  font-size: 0.8rem;
  line-height: 30px;
}

.view-course .info p span {
  font-family: var(--Poppins-Regular);
  margin-left: 0.3rem;
  color: var(--color-coffee);
}

.modal .faculty-modal {
  background: var(--color-primary);
  color: var(--color-white);
  height: 450px;
  padding: 1rem;
  box-shadow: 0 0 0.2rem var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5px;
  width: 85%;
}

.modal .add-faculty-cont .inputs-cont .img-cont {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  align-self: center;
  position: relative;
  background: var(--color-bg-white);
  box-shadow: 0 0 0.2rem var(--color-bg-white);
}

.modal .add-faculty-cont .inputs-cont .img-cont img {
  border-radius: 50%;
}

.modal .add-faculty-cont {
  height: 85%;
}

.modal .add-faculty-cont .inputs-cont .img-cont input[type="file"] {
  display: none;
}

.modal .add-faculty-cont .inputs-cont .img-cont label {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 18px;
  width: 18px;
  background: var(--color-white);
  color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#delete-selected-faculty-btn,
#delete-selected-courses-btn {
  display: none;
  align-self: flex-end;
  color: var(--color-white);
  font-size: 0.8rem;
  font-family: var(--Poppins-Regular);
  max-width: max-content;
}

#delete-selected-faculty-btn.active,
#delete-selected-courses-btn.active {
  display: flex;
}

.modal .delete-modal {
  background: var(--color-gradient-jet);
  padding: 1.5rem;
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal .delete-modal p span {
  font-family: var(--Poppins-Bold);
}

.modal .delete-modal .button-cont {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

.modal .delete-modal .warning {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-coffee);
  font-family: var(--Montserrat);
}

.modal .delete-modal .warning p {
  font-size: 1rem;
  letter-spacing: 1px;
}

.modal .delete-modal .warning i {
  padding: 0.8rem;
  border-radius: 50%;
  background: var(--color-coffee);
  color: var(--color-primary);
  box-shadow: 0 0 0.5rem var(--color-coffee);
}

.modal .delete-modal button {
  font-family: var(--Poppins-Regular);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.3rem 1rem;
  letter-spacing: 1px;
  color: var(--color-white);
}

.modal .delete-modal button:hover {
  opacity: 0.5;
}